<!-- Footer Area-->
<footer class="footer-area footer-2 pt-120 pb-4">
  <div class="container">
    <div class="row g-4 g-lg-5">
      <!-- Footer Widget Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="footer-widget-area">
          <a class="d-block mb-4" href="index.html"
            ><img
              src="img/syncspider-logo-1.webp"
              alt=""
              style="max-width: 65%"
          /></a>
          <p>
            Always in sync. Join our news letter for the latest updates below
          </p>
          <!-- Newsletter Form -->
          <div class="newsletter-form mb-4">
            <form class="d-flex align-items-stretch" action="#">
              <input
                class="form-control rounded-0 rounded-start"
                type="email"
                placeholder="Enter email"
              />
              <button
                class="btn btn-warning rounded-0 rounded-end px-3"
                type="submit"
              >
                <i class="bi bi-arrow-right"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Footer Widget Area-->
<div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget-area">
    <h5 class="mb-4 text-white">Integrations</h5>
    <ul class="list-unstyled">
      <li><a href="integrations.html" target="_blank"><i class="bi bi-caret-right"></i> All Integrations</a></li>
      <li><a href="shop-sidebar.html" target="_blank"><i class="bi bi-caret-right"></i> eCommerce</a></li>
      <li><a href="single-product.html" target="_blank"><i class="bi bi-caret-right"></i> Marketplaces</a></li>
      <li><a href="cart.html" target="_blank"><i class="bi bi-caret-right"></i> ERPs</a></li>
      <li><a href="checkout.html" target="_blank"><i class="bi bi-caret-right"></i> CRMs</a></li>
      <li><a href="checkout.html" target="_blank"><i class="bi bi-caret-right"></i> Agencies</a></li>
    </ul>
  </div>
</div>

<!-- Footer Widget Area-->
<div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget-area">
    <h5 class="mb-4 text-white">eCommerce Solutions</h5>
    <ul class="list-unstyled">
      <li><a href="shop-sidebar.html" target="_blank"><i class="bi bi-caret-right"></i> eCommerce</a></li>
      <li><a href="single-product.html" target="_blank"><i class="bi bi-caret-right"></i> Marketplaces</a></li>
      <li><a href="cart.html" target="_blank"><i class="bi bi-caret-right"></i> ERPs</a></li>
      <li><a href="checkout.html" target="_blank"><i class="bi bi-caret-right"></i> CRMs</a></li>
      <li><a href="checkout.html" target="_blank"><i class="bi bi-caret-right"></i> Custom Development</a></li>
      <li><a href="checkout.html" target="_blank"><i class="bi bi-caret-right"></i> Whitelabel Solution</a></li>
    </ul>
  </div>
</div>

<!-- Footer Widget Area-->
<div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget-area">
    <h5 class="mb-4 text-white">Data Hub Solutions</h5>
    <ul class="list-unstyled">
      <li><a href="shop-sidebar.html" target="_blank"><i class="bi bi-caret-right"></i> What is the Data Hub?</a></li>
      <li><a href="shop-sidebar.html" target="_blank"><i class="bi bi-caret-right"></i> B2B eCommerce Websites</a></li>
      <li><a href="single-product.html" target="_blank"><i class="bi bi-caret-right"></i> Marketplace Seller Management</a></li>
      <li><a href="option3.html" target="_blank"><i class="bi bi-caret-right"></i> Product Enrichment</a></li>
      <li><a href="option3.html" target="_blank"><i class="bi bi-caret-right"></i> Frontend API</a></li>
      <li><a href="option3.html" target="_blank"><i class="bi bi-caret-right"></i> Lowcode Backend</a></li>
    </ul>
  </div>
</div>


  <div class="container">
    <div
      class="copywrite-wrapper mt-5 rounded-3 d-lg-flex align-items-lg-center justify-content-lg-between"
    >
      <!-- Copywrite Text -->
      <div
        class="copywrite-text text-center text-lg-start mb-3 mb-lg-0 me-lg-4"
      >
        <p class="mb-0">
          2023 &copy; All rights reserved by
          <a href="#" target="_blank">David Oak</a>
        </p>
      </div>
      <!-- Footer Nav -->
      <div class="footer-nav mb-3 mb-lg-0 me-lg-4">
        <ul class="mb-0 d-flex flex-wrap justify-content-center list-unstyled">
          <li><a href="#" target="_blank">Privacy Policy</a></li>
          <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
          <li><a href="#" target="_blank">Get Support</a></li>
        </ul>
      </div>
      <!-- Dropup -->
      <!--<div class="language-dropdown text-center text-lg-end">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Language
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#"
                ><span class="me-2 flag-icon flag-icon-sa"></span>Arabic</a
              ><a class="dropdown-item" href="#"
                ><span class="me-2 flag-icon flag-icon-bd"></span>Bengali</a
              ><a class="dropdown-item" href="#"
                ><span class="me-2 flag-icon flag-icon-us"></span>English</a
              ><a class="dropdown-item" href="#"
                ><span class="me-2 flag-icon flag-icon-my"></span>Malay</a
              ><a class="dropdown-item" href="#"
                ><span class="me-2 flag-icon flag-icon-es"></span>Spanish</a
              >
            </div>
          </div> -->
    </div>
  </div>
</footer>
