<!-- Header Area-->
<header class="header-area">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <!-- Navbar Brand --><a class="navbar-brand" href="index.html"
        ><img src="img/syncspider-logo-1.webp" alt="" style="height: 45px"
      /></a>
      <!-- Navbar Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#saasboxNav"
        aria-controls="saasboxNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-grid"></i>
      </button>
      <!-- Navbar Nav -->
      <ul class="navbar-nav navbar-nav-scroll">
      <!-- <li><a href="#">Home</a></li> -->
      <li class="sb-dropdown">
        <a href="#">Integrations</a>
        <ul class="sb-dropdown-menu">
          <li><a href="integrations.html">All Integrations</a></li>
          <li><a href="shop-sidebar.html">eCommerce</a></li>
          <li><a href="single-product.html">Marketplaces</a></li>
          <li><a href="cart.html">ERPs</a></li>
          <li><a href="checkout.html">CRMs</a></li>
          <li><a href="checkout.html">Agencies</a></li>
        </ul>
      </li>
      <li class="sb-dropdown">
        <a href="#">eCommerce Solutions</a>
        <ul class="sb-dropdown-menu">
          <li><a href="shop-sidebar.html">eCommerce</a></li>
          <li><a href="single-product.html">Marketplaces</a></li>
          <li><a href="cart.html">ERPs</a></li>
          <li><a href="checkout.html">CRMs</a></li>
          <li><a href="checkout.html">Custom Development</a></li>
          <li><a href="checkout.html">Whitelabel Solution</a></li>
        </ul>
      </li>
      <li class="sb-dropdown">
        <a href="#">Data Hub Solutions</a>
        <ul class="sb-dropdown-menu">
          <li><a href="shop-sidebar.html">What is the Data Hub?</a></li>
          <li><a href="shop-sidebar.html">B2B eCommerce Websites</a></li>
          <li class="sb-dropdown">
            <a href="single-product.html">Marketplace Seller Management</a>
            <ul class="sb-dropdown-menu">
              <li><a href="option1.html">Shopify Marketplace Seller Management</a></li>
              <li><a href="option2.html">WooCommerce Marketplace Seller Management</a></li>
              <li><a href="option3.html">Dokan Marketplace Seller Management</a></li>
              <li><a href="option3.html">Magento Marketplace Seller Management</a></li>
            </ul>
          </li>
          <li><a href="option3.html">Product Enrichment</a></li>
          <li><a href="option3.html">Frontend API</a></li>
          <li><a href="option3.html">Lowcode Backend</a></li>
        </ul>
      </li>
      <li class="sb-dropdown">
        <a href="#">Resources</a>
        <ul class="sb-dropdown-menu">
          <li class="sb-dropdown">
            <a href="single-product.html">Success Stories</a>
            <ul class="sb-dropdown-menu">
              <li><a href="option1.html">Success Story 1</a></li>
              <li><a href="option2.html">Success Story 2</a></li>
              <li><a href="option3.html">Success Story 3</a></li>
            </ul>
          </li>
          <li><a href="option3.html">Articles</a></li>
          <li><a href="option3.html">Podcast</a></li>
          <li><a href="option3.html">Help Center</a></li>
          <li><a href="option3.html">Contact Us</a></li>
        </ul>
      </li>      
      <li><a href="pricing-plan.html">Pricing</a></li>
      <!-- <li class="sb-dropdown">
        <a href="#">Blog</a>
        <ul class="sb-dropdown-menu">
          <li><a href="blog-1.html">Blog 1</a></li>
          <li><a href="blog-2.html">Blog 2</a></li>
          <li><a href="blog-3.html">Blog 3</a></li>
          <li><a href="blog-details-1.html">Blog Details 1</a></li>
          <li><a href="blog-details-2.html">Blog Details 2</a></li>
          <li><a href="blog-details-3.html">Blog Details 3</a></li>
        </ul>
      </li>
      <li class="sb-dropdown">
        <a href="#">Pages</a>
        <ul class="sb-dropdown-menu">
          <li class="sb-dropdown">
            <a href="#">About Us</a>
            <ul class="sb-dropdown-menu">
              <li><a href="about-standard.html">About Standard</a></li>
              <li><a href="about-creative.html">About Creative</a></li>
            </ul>
          </li>
          <li class="sb-dropdown">
            <a href="#">Service</a>
            <ul class="sb-dropdown-menu">
              <li><a href="service-standard.html">Service Standard</a></li>
              <li><a href="service-creative.html">Service Creative</a></li>
            </ul>
          </li>
          <li class="sb-dropdown">
            <a href="#">Authentification</a>
            <ul class="sb-dropdown-menu">
              <li><a href="register.html">Register</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="forget-password.html">Forget Password</a></li>
            </ul>
          </li>
          <li><a href="pricing-plan.html">Pricing Plan</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews.html">Reviews</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
          <li><a href="newsletter.html">Newsletter</a></li>
          <li><a href="404.html">404 - Error</a></li>
        </ul>
      </li> -->
    </ul>

        <!-- Login Button -->
        <div class="ms-auto mb-3 mb-lg-0">
          <a class="btn btn-warning btn-sm" href="#">Book A Demo</a>
        </div>
      </div>
    </div>
  </nav>
</header>
